body{
    background-color: #D3E0DC;
}

.nav{
    background-color: #aee1e1;
}

.nav-item{
    padding: 1%, 5%;
}

.nav-link{
    background-color: #aee1e1;
    font-size: 20px;
    color: #071220;
}

.nav-link:hover{
    color: black;
    background-color: #FCD1D1;
}

/**************************************/

.startbut{
    font-size: 40px;
    padding: 5% 21%;
    border-radius: 30px ;
    background-color: #AEE1E1;
    border: 1px solid #83adad ;
    margin-top: 2%;
}

.stylebut{
    background-color: #AEE1E1;
    border-radius: 30px ;
    margin: 0% 1%;
    border: 1px solid #83adad ;
    width: 25%;
}

button:hover{
    background-color: #FCD1D1;
}

button{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}